@font-face {
  font-family: 'raleway';
  src: font-url('Raleway-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: font-url('Raleway-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: lighter;
}

@font-face {
  font-family: 'raleway';
  src: font-url('Raleway-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: bolder;
}
